// ### Primary
$red: hsl(0, 78%, 62%); // Red: 
$cyan: hsl(180, 62%, 55%); // Cyan
$orange: hsl(34, 97%, 64%); // Orange 
$blue:hsl(212, 86%, 64%); // Blue
// ### Neutral 
$VeryDarkBlue: hsl(234, 12%, 34%); // Very Dark Blue
$GrayishBlue: hsl(229, 6%, 66%); // Grayish Blue
$VeryLightGray: hsl(0, 0%, 98%); //- Very Light Gray 
//## Typography 
// ### Body Copy 
$mainFontFamily: 'Poppins',
'sans-serif';