.heading-font {
  font-size: 1.8rem;
}

header {
  padding: 2.5rem 1rem 1rem 1rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  width: 90%;
}

h1 {
  font-size: 1.8rem;
  margin: 0 auto;
  text-align: center;
}

.header__title h1:nth-child(1) {
  color: #a3a5ae;
  font-weight: 200 !important;
}

.header__title h1:nth-child(2) {
  color: #4c4e61;
  margin-bottom: 1.3rem;
  font-weight: 700;
}

.header__text {
  color: #a3a5ae;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.7;
}

.card {
  -webkit-box-shadow: 1px 10px 20px #a3a5ae;
          box-shadow: 1px 10px 20px #a3a5ae;
  margin: 0 1rem 2.3rem 1rem;
  border-radius: 10px;
}

.card__title {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  color: #4c4e61;
}

.card__title,
.card__body {
  padding: .5rem 1.5rem 0 1.5rem;
}

.card > hr {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.card:nth-child(1) > hr {
  height: 3px;
  background-color: #45d3d3;
}

.card:nth-child(2) > hr {
  height: 3px;
  background-color: #ea5353;
}

.card:nth-child(3) > hr {
  height: 3px;
  background-color: #fcaf4a;
}

.card:nth-child(4) > hr {
  height: 3px;
  background-color: #549ef2;
}

.card__body {
  color: #a3a5ae;
  font-size: 15px;
}

img {
  padding-left: 75%;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 1440px) {
  .container {
    display: -ms-grid;
    display: grid;
    width: 80%;
    height: 100vh;
  }
  header {
    margin: 0 auto;
    text-align: center;
    width: 42%;
    margin-bottom: 2rem;
  }
  .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 3;
        grid-template-rows: 3;
        grid-template-areas: ". team-builder ." "supervisor . calculator" ". karma .";
  }
  .card {
    margin: 0 auto;
    text-align: center;
    margin-top: 0 auto;
    text-align: left;
    width: calc(90%);
    height: auto;
    margin-bottom: 4rem;
  }
  .card__title, .card__body {
    width: 70%;
    padding-left: 3.5rem;
  }
  #team-builder {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: team-builder;
    margin-bottom: -9rem;
  }
  #supervisor {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: supervisor;
  }
  #karma {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: karma;
    margin-top: -13rem;
  }
  #calculator {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: calculator;
  }
  img {
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  footer {
    margin-bottom: 3rem;
  }
}

html,
body,
*,
* > * {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "sans-serif";
  font-size: 15px;
  background-color: #fafafa;
}

.container {
  display: -ms-grid;
  display: grid;
  width: 90%;
  margin: 0 auto;
}
